/* Reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --gray: #384454;
  --header-footer-bg: #222d41;
}
/* Général  */
body {
  font-family: "Sofia Sans", sans-serif;
  color: var(--gray);
  background-color: #eee;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lobster", cursive;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: white;
}
ul li {
  list-style: none;
}

.btn {
  display: inline-block;
}
.btn-dark {
  color: white;
  background: black;
  border: 2px solid black;
  border-radius: 30px;
  padding: 1rem;
  transition-duration: 0.8s;
}
.btn-dark:hover {
  border: 2px solid black;
  color: black;
  background: white;
}
.btn-light {
  color: black;
  background: white;
  border: 2px solid white;
  border-radius: 30px;
  padding: 1rem;
  transition-duration: 0.8s;
}
.btn-light:hover {
  border: 2px solid white;
  color: white;
  background: black;
}

/* Header  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--header-footer-bg);
  height: 60px;
}
header h2 {
  font-size: 2rem;
}
header a {
  padding: 1.3rem 1.5rem;
  letter-spacing: 2px;
}
header ul {
  align-items: center center;
  display: flex;
}
header ul li a:hover,
.active {
  transition: 0.8s;
  background: #4a618b;
}
/* Presentation */
.presentation {
  height: 785px;
  background-image: url(../Image/photo-1533630757306-cbadb934bcb1.jpg);
  background-size: cover;
  background-position: center center;
  text-align: center;
}

.presentation h1 {
  padding: 8rem 0 0 0;
  text-align: center;
  color: white;
}
.presentation p {
  padding-top: 10rem;
  max-width: 600px;
  display: block;
  margin: auto;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bolder;
  line-height: 2rem;
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
}
.presentation a {
  margin: 5rem 0;
  font-size: 1.5rem;
}
/* value-proposition */

.value-proposition {
  display: flex;
  margin: 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.coffee .fa-mug-hot {
  font-size: 4rem;
  padding-bottom: 1rem;
}

.clock .fa-clock {
  font-size: 4rem;
  padding-bottom: 1rem;
}
.value-proposition .title {
  padding: 1rem;
}
.value-proposition p {
  padding: 1rem 5rem;
  line-height: 2rem;
}

.vp {
  text-align: center;
}
.vp-img {
  margin-top: 3rem;
  background-image: url(../Image/photo-1493925410384-84f842e616fb.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
.vp h3 {
  text-align: center;
  margin: auto;
  margin: 1.5rem;
  font-size: 2rem;
}
.vp p {
  text-align: center;
}
.vp a {
  margin: 2.5rem 0;
  font-size: 1.2rem;
}
/* footer  */
footer {
  background: var(--header-footer-bg);
  text-align: center;
  color: white;
  justify-items: center;
  padding: 2rem;
  word-spacing: 4px;
}

/* Nous trouver - Where  */

.where-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.where-content {
  display: flex;
  flex-grow: 1;
}
.where-content img {
  width: 40rem;
  height: 35rem;
  margin: auto;
}
.content-txt {
  font-size: 1.3rem;
  margin: auto;
  text-align: center;
}
.where-content h2 {
  padding: 0.5rem;
}
.where-content p {
  padding: 0.5rem;
}
.where-content .separator {
  margin: 10px auto;
  height: 2px;
  width: 350px;
  background: #111;
}
/* contact  */
.formulaire {
  flex-grow: 1;
  height: 100vh;
}
.formulaire form {
  display: flex;
  flex-direction: column;
  margin: 10rem auto;
  width: 400px;
}
form label {
  padding: 1rem 0;
}
form input {
  border: 1px solid black;
  border-radius: 50px;
  padding: 0.5rem;
}
form textarea {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0rem;
}
form .separator {
  margin: 10px 0;
  height: 2px;
  width: 400px;
  background: #111;
}
